body{
    background-color: darkgray;
}

div#container{

    background-color: white;
    box-shadow: 0 0 10px 0 hsla(0 ,0 ,0,0.5);
   
   
}
/*header*/
header{
border-top: 6px solid hsl(0, 78%, 21%);


}
button{

    background-color: hsl(0, 78%, 21%);
    color: white;
    border: 1px hidden;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: lighter;
}


/*nav*/
nav{


    background-color: #8c0000;
}
nav>ul#nav-bar>li>a{
    color: white;
    text-transform: uppercase;
    transition: background-color  .25s ease;
}
nav>ul#nav-bar>li>a:hover,nav>ul#nav-bar>li>a:visited{
    background-color: hsla(0, 100%, 100%, 0.5);


}

/*main*/
main{

    background-color: ghostwhite;
}
#eigth-grade{

   color: blue; 
}


#foot1{
    background-color: #3c3c3c;
    color: white;
    font-weight: lighter;
}


#foot2{


    background-color: #960000;
    color: azure;
}

